<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/resources/' %} active {% endif %}"><a href="{{ "/resources/" | absolute_url }}">Resources</a></li>
</ul>

<ul class="icons">
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://gitter.im/{{site.gitter}}" class="icon gitter" rel="nofollow">
  <div class="logo-holder">
    <div class="circle">
      <div class="circle-items">
          <div class="logo-left-arm"></div>
          <div class="logo-body-left"></div>
          <div class="logo-body-right"></div>
          <div class="logo-right-arm"></div>
      </div>
    </div>
  </div>
    <span class="label">gitter</span></a>
  </li>
</ul>
